<% obj.each do |article| %>
    <tr>
      <td><%= link_to article.title, article_path(article) %></td>
      <td><%= article.node %></td>
      <td><%= article.street %></td>
      <td><%= article.zip %></td>
      <td><%= truncate(article.description, length: 30) %></td>
      <td><%= article.user.username if article.user %></td>
      <td><%= article.created_at.strftime("%A, %d %b %Y %l:%M %p") %></td>
    </tr>
<% end %>
