<%= render 'shared/errors', obj: @article %>

<div class="row">
  <div class="col-xs-12">
    <div class="well">
      <%= form_for @article do |f| %>
      <div class="form-group col-xs-4">
        <%= f.label :title, 'Job Number' %>
        <%= f.text_field :title, class: "form-control", placeholder: "JB123456" %>
      </div>
      
      <div class="form-group col-xs-3">
        <%= f.label :plant, 'Plant (Type):' %>
        <div class="controls">
          <%= f.select(:plant_type, options_for_select([[ 'Underground', 'Underground'], [ 'Aerial', 'Aerial'], [ 'Both', 'Both' ]], :selected => @article.plant_type), {}, {class: "form-control"}) %>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-5">
          <div class="input-group cb-box">
            <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
            <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
          <% end %>
            
          </div>
        </div>
      </div>

      <div class="form-group col-xs-12">
        <%= f.label :street %>
        <%= f.text_field :street, class: "form-control", placeholder: "Street Address" %>
      </div>
      
      <div class="form-group col-xs-6">
        <%= f.label :city %>
        <%= f.text_field :city, class: "form-control", placeholder: "City" %>
      </div>
      
      <div class="form-group col-xs-6">
        <%= f.label :zip %>
        <%= f.text_field :zip, class: "form-control", placeholder: "Zip" %>
      </div>
      
      <div class="form-group col-xs-6">
        <%= f.label :subdivision %>
        <%= f.text_field :subdivision, class: "form-control", placeholder: "Subdivision" %>
      </div>
      
      <div class="form-group col-xs-6">
        <%= f.label :node %>
        <%= f.text_field :node, class: "form-control", placeholder: "Node Number" %>
      </div>
      
      <div class="form-group col-xs-6">
        <%= f.label :key %>
        <%= f.text_field :key, class: "form-control", placeholder: "Key Map Page" %>
      </div>
      
      <div class="form-group col-xs-6">
        <%= f.label :print %>
        <%= f.text_field :print, class: "form-control", placeholder: "Print Page" %>
      </div>
      
      <div class="form-group col-xs-12">
        <%= f.label :description, 'Damage Repair Notations:' %>
        <%= f.text_area :description, rows: 6, class: "form-control", placeholder: "Enter Repair Notations... Replace from what to where...etc." %>
      </div>
      
      <div class="form-group">
        <%= f.submit 'Submit PDR', class: 'btn btn-xs btn-success' %>
        <%= link_to "Discard Changes", articles_path, class: 'btn btn-xs btn-warning' %>
      </div>
      <% end %>
      
      
    </div>
  </div>
</div>