<%= render 'shared/errors', obj: @article %>

<div class="row">
  <div class="col-xs-12">
    <div class="well">
      <%= form_for @article do |f| %>
      <div class="form-group col-xs-3">
        <%= f.label :title, 'Job Number' %>
        <%= f.text_field :title, class: "form-control", placeholder: "JB123456" %>
      </div>
      
      <div class="form-group col-xs-3">
        <label for="exampleInputEmail1">Blank Field</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Blank Field">
      </div>
      
      <div class="form-group col-xs-6">
        <label for="exampleInputEmail1">Blank Field</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Blank Field">
      </div>

      <div class="form-group">
        <%= f.label :street %>
        <%= f.text_field :street, class: "form-control", placeholder: "Street Address" %>
      </div>
      
      <div class="form-group">
        <%= f.label :city %>
        <%= f.text_field :city, class: "form-control", placeholder: "City" %>
      </div>
      
      <div class="form-group">
        <%= f.label :zip %>
        <%= f.text_field :zip, class: "form-control", placeholder: "Zip" %>
      </div>
      
      <div class="form-group">
        <%= f.label :subdivision %>
        <%= f.text_field :subdivision, class: "form-control", placeholder: "Subdivision" %>
      </div>
      
      <div class="form-group">
        <%= f.label :node %>
        <%= f.text_field :node, class: "form-control", placeholder: "Node Number" %>
      </div>
      
      <div class="form-group">
        <%= f.label :key %>
        <%= f.text_field :key, class: "form-control", placeholder: "Key Map Page" %>
      </div>
      
      <div class="form-group">
        <%= f.label :print %>
        <%= f.text_field :print, class: "form-control", placeholder: "Print Page" %>
      </div>
      
      <div class="form-group">
        <%= f.label :description, 'Damage Repair Notations:' %>
        <%= f.text_area :description, rows: 6, class: "form-control", placeholder: "Enter Repair Notations... Replace from what to where...etc." %>
      </div>
      
      <%= f.submit 'Submit PDR', class: 'btn btn-success' %>
      
      
      <% end %>
      
      [ <%= link_to "Cancel PDR and Return to Index", articles_path %> ]
    </div>
  </div>
</div>