<div class="well">
  <div class="table-responsive">
    <table class="table table-bordered">
      <h1 align="center">Plant Damage Report: <span class="label-color"><%= @article.title %></span></h1>  
        <thead>
          <tr>
            <th>Job Number</th>
            <th>Node</th>
            <th>Street</th>
            <th>Zip Code</th>
            <th>Damage Repair Notations</th>
            <th>Created By</th>
          </tr>
        </thead>
        
        <tbody>
          <tr>
            <td><%= @article.title %></td>
            <td><%= @article.node %></td>
            <td><%= @article.street %></td>
            <td><%= @article.zip %></td>
            <td><%= @article.description %></td>
            <td><%= link_to @article.user.username, user_path(@article.user) %></td>
          </tr>
        </tbody>
    </table>
  </div>
  <div class="pdr-actions">
    <% if logged_in? && current_user == @article.user %> 
      <%= link_to "Edit this PDR", edit_article_path(@article), class: "btn btn-xs btn-info" %>
      <%= link_to "Delete this PDR", article_path(@article), class: "btn btn-xs btn-danger", method: :delete, data: {confirm: "Are you sure?"} %>
    <% end %>
    <%= link_to "Back PDR Listings", articles_path, class: "btn btn-xs btn-success" %>
  </div>
</div>







