<h1>Showing Plant Damage Report</h1>

<p>
    Job Number <%= @article.title %>
</p>

<p>
    Node <%= @article.node %>
</p>

<p>
    Street <%= @article.street %>
</p>

<p>
    Zip Code <%= @article.zip %>
</p>

<p>
    Damage Repair Notations <%= @article.description %>
</p>

<%= link_to "Edit this article", edit_article_path(@article) %> |
<%= link_to "Back to articles listing", articles_path %>

