<div class="well">
  <div class="page-header">
    <h2 align="center">Plant Damage Report: <span class="label-color"><%= @article.title %></span><small> Created By - <%= link_to @article.user.username, user_path(@article.user) %></small></h3>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-warning">
        <div class="panel-heading"><span class="glyphicon glyphicon-home"></span>  Location</div>
   
          <table class="table">
            <tr>
              <td><strong>Node:</strong></td>
              <td><%= @article.node %></td>
            </tr>
            <tr>
              <td><strong>Street:</strong></td>
              <td><%= @article.street %></td>
            </tr>
            <tr>
              <td><strong>City:</strong></td>
              <td><%= @article.city %></td>
            </tr>
            <tr>
              <td><strong>Zip Code:</strong></td>
              <td><%= @article.zip %></td>
            </tr>
            <tr>
              <td><strong>Subdivision:</strong></td>
              <td><%= @article.subdivision %></td>
            </tr>
            <tr>
              <td><strong>Key Map:</strong></td>
              <td><%= @article.key %></td>
            </tr>
            <tr>
              <td><strong>Print Page:</strong></td>
              <td><%= @article.print %></td>
            </tr>
          </table>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-warning">
        <div class="panel-heading"><span class="glyphicon glyphicon-pencil"></span> Damage Repair Notations</div>
   
          <table class="table">
            <tr>
              <td><strong>Notes:</strong></td>
              <td><%= @article.description %></td>
            </tr>
          </table>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-warning">
        <div class="panel-heading"><i class="fa fa-info"></i>  Plant Details</div>
   
          <table class="table">
            <tr>
              <td><strong>Plant Type:</strong></td>
              <td><%= @article.plant_type %></td>
            </tr>
            <tr class="danger">
              <td><strong>Fiber Count:</strong></td>
              <td><code>"placeholder"</code></td>
            </tr>
            <tr class="danger">
              <td><strong>Coax Size:</strong></td>
              <td><code>"placeholder"</code></td>
            </tr>
            <tr class="danger">
              <td><strong>Depth of Cable:</strong></td>
              <td><code>"placeholder"</code></td>
            </tr>
              <tr class="danger">
              <td><strong>Plant Located:</strong></td>
              <td><code>"placeholder"</code></td>
            </tr>
            <tr class="danger">
              <td><strong>Cable in Conduit:</strong></td>
              <td><code>"placeholder"</code></td>
            </tr>
          </table>
      </div>
    </div>
    
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading"><span class="glyphicon glyphicon-pencil"></span> Damage Repair Notations</div>
     
            <table class="table">
              <tr>
                <td><strong>Notes:</strong></td>
                <td><%= @article.description %></td>
              </tr>
            </table>
        </div>
      </div>

  </div>
  <div class="pdr-actions">
    <% if logged_in? && (current_user == @article.user || current_user.admin?) %> 
      <%= link_to edit_article_path(@article), class: "btn btn-xs btn-info" do %>
        <i class="fa fa-pencil-square-o"></i>
        Edit this PDR
        <% end %>
      <%= link_to article_path(@article), class: "btn btn-xs btn-danger", method: :delete, data: {confirm: "Are you sure?"} do %>
        <i class="fa fa-trash"></i>
        Delete this PDR
        <% end %>
    <% end %>
    <%= link_to articles_path, class: "btn btn-xs btn-success" do %>
      <i class="fa fa-reply"></i>
      Back PDR Listings
      <% end %>
  </div>
</div>
 