<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @category.name + " PDR's" %>
      <% if logged_in? and current_user.admin? %>
      <%= link_to edit_category_path(@category), class: "btn btn-xs btn-info" do %>
        <i class="fa fa-pencil-square-o"></i>
        Edit Category Name
      <% end %>
      <% end %>
    </h3>
  </div>
  <div align="center">
    <%= will_paginate @category_articles %>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <tr>
        <th>Job Number</th>
        <th>Node</th>
        <th>Street</th>
        <th>Zip Code</th>
        <th>Damage Repair Notations</th>
        <th>Created By</th>
        <th>Date Created</th>
      </tr>
    <%= render 'articles/article', obj: @category_articles %>
 
    </table>
  </div>
  <div align="center">
    <%= will_paginate @category_articles %>
  </div>
</div>